<h1>Liferay session variables</h1>
<p>
These tests check that Liferay session variables are available in Rails.
</p>

<p>
These variables are accessible in Java JSR286 portlets from the Liferay API.
When the Rails-portlet receives a request where the URL contains keywords %UID% or %GID%, these are replaced by the values received from the Liferay API. Rails receives a request with the actual UID number and GID numbers, respectively. The page (Layout in the database) where the portlet is has defined this Group.
</p>

<p>
  <%= link_to 'UID', url_for(:action => :session_variables)+'/uid/%UID%' -%><br/>
  <%#= link_to 'UID debug', url_for(:action => :session_variables)+'/uid/10000' -%><br/>
  <% if @uid -%>
    <span style="font-size: 14px;">
      Received UID: <%= @uid %>
    </span>
  <% end -%>
</p>

<p>
  <%= link_to 'GID', url_for(:action => :session_variables)+'/gid/%GID%' -%><br/>
  <%#= link_to 'GID debug', url_for(:action => :session_variables)+'/gid/20000' -%><br/>
  <% if @gid -%>
    <span style="font-size: 14px;">
      Received GID: <%= @gid %>
    </span>
  <% end -%>
</p>

<p style="font-size: 18px;">
  <%= link_to 'Reset', :action => :session_variables -%>
</p>

