<body>

  <%= render :partial => 'application/navigation' %>

<h1>HTTP</h1>

  <%= link_to 'URL parameters',
        :controller => :http_methods, :action => :parameter  -%><br />

  <%= link_to 'HTTP POST form',
        :controller => :http_methods, :action => :post  -%><br />

  <%= link_to 'HTTP POST and GET redirect',
        :controller => :http_methods, :action => :post_and_redirect  -%><br />

  <%= link_to 'HTTP referer (back)',
        :controller => :http_methods, :action => :back  -%><br />

  <%= link_to 'HTTP redirect',
        :controller => :http_methods, :action => :redirect -%><br />


<h1>JavaScripts</h1>

  <%= link_to 'Simple JavaScript',
        :controller => :js, :action => :simple  -%><br />

  <%= link_to 'Prototype JavaScript',
        :controller => :js, :action => :prototype  -%><br />

  <%= link_to 'Script.aculo.us JavaScript',
        :controller => :js, :action => :scriptaculous  -%><br />

  <%= link_to 'jQuery JavaScript',
        :controller => :js, :action => :jquery  -%><br />

  <%= link_to 'Drag and drop',
        :controller => :js, :action => :dragndrop  -%><br />

  <%= link_to 'link_to :method => :post',
        :controller => :js, :action => :link_to_post  -%><br />



<h1>CSS</h1>

  <%= link_to 'Simple CSS',
        :controller => :css, :action => :simple  -%><br />

  <%= link_to 'CSS background image',
        :controller => :css, :action => :background  -%><br />


<h1>Misc</h1>

  <%= link_to 'Image resources',
        :controller => :resource, :action => :images  -%><br />

  <%= link_to 'Inline text',
        :controller => :resource, :action => :inline  -%><br />

  <%= link_to 'Link outside the portlet',
        :controller => :resource, :action => :exit_portlet  -%><br />



  <%#= link_to 'Login',
        :controller => :login, :action => :index  -%><br />



</body>
