<body>

<h1>HTTP</h1>

  <%= link_to 'URL parameters',
        :controller => 'Caterpillar::HttpMethods', :action => :parameter  -%><br />

  <%= link_to 'HTTP POST form',
        :controller => 'Caterpillar::HttpMethods', :action => :post  -%><br />

  <%= link_to 'HTTP POST and GET redirect',
        :controller => 'Caterpillar::HttpMethods', :action => :post_and_redirect  -%><br />

  <%= link_to 'HTTP referer (back)',
        :controller => 'Caterpillar::HttpMethods', :action => :back  -%><br />

  <%= link_to 'HTTP redirect',
        :controller => 'Caterpillar::HttpMethods', :action => :redirect -%><br />


<h1>JavaScripts</h1>

  <%= link_to 'Simple JavaScript',
        :controller => 'Caterpillar::Js', :action => :simple  -%><br />

  <%= link_to 'Prototype JavaScript',
        :controller => 'Caterpillar::Js', :action => :prototype  -%><br />

  <%= link_to 'Script.aculo.us JavaScript',
        :controller => 'Caterpillar::Js', :action => :scriptaculous  -%><br />

  <%= link_to 'jQuery JavaScript',
        :controller => 'Caterpillar::Js', :action => :jquery  -%><br />

  <%= link_to 'Drag and drop',
        :controller => 'Caterpillar::Js', :action => :dragndrop  -%><br />

  <%= link_to 'link_to :method => :post',
        :controller => 'Caterpillar::Js', :action => :link_to_post  -%><br />



<h1>CSS</h1>

  <%= link_to 'Simple CSS',
        :controller => 'Caterpillar::Css', :action => :simple  -%><br />

  <%= link_to 'CSS background image',
        :controller => 'Caterpillar::Css', :action => :background  -%><br />


<h1>Misc</h1>

  <%= link_to 'Image resources',
        :controller => 'Caterpillar::Resource', :action => :images  -%><br />

  <%= link_to 'Inline text',
        :controller => 'Caterpillar::Resource', :action => :inline  -%><br />

  <%= link_to 'Link outside the portlet',
        :controller => 'Caterpillar::Resource', :action => :exit_portlet  -%><br />



  <%#= link_to 'Login',
        :controller => 'Caterpillar::Login', :action => :index  -%><br />



</body>
