<%# everything is cramped together to prevent the installation of separate css and js files -%>

<script type="text/javascript">

  function cp_toggle_category(c,categories) {
    c_el = document.getElementById(c);
    p_el = document.getElementById(c+'_portlets');

    if (p_el.style.display=='none') {
      p_el.style.display='block';
      c_el.style.background='yellow';
    }
    else {
      p_el.style.display='none';
      c_el.style.background='white';
    }
  }

</script>

<style type="text/css">
  .caterpillar_navigation {
  background: url('/images/caterpillar.gif') no-repeat;
  padding: 10px 0 0 50px;
  min-height: 55px;
  filter:alpha(opacity=81);-moz-opacity:.81;opacity:.81;
  /* css3 tags, works on Firefox and Safari */
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-bottom: 1px dotted green;
  }

  .caterpillar_navigation ul {
  list-style-type: none;
  }

  .cp_category {
  float: left;
  border: 3px double blue;
  margin: 0 14px 5px 14px;
  padding: 5px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  background: white;
  }

  .cp_portlets {
  float: break;
  overflow: hidden;
  margin: 0 40px 10px 40px;
  border: 3px double green;
  padding: 5px;
  }

  .navlink {
  margin: 5px 14px 5px 14px;
  padding: 5px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  }

  .navlink a {
  text-decoration: none;
  }

  .navlink a:hover {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  }

  #cp_version {
  font-style: italic;
  font-size: 9px;
  position: absolute;
  left: 10px;
  top: 55px;
  }
</style>

<div class="caterpillar_navigation">
  <%# CATEGORIES -%>
  <%# categories = @caterpillar_navigation.keys -%>
  <div id="caterpillar_categories">
    <% @caterpillar_navigation.each_pair do |category,portlets| -%>
      <% cat = category.gsub(' ','_') -%>
      <span id="<%=cat-%>" class="cp_category">
        <%= link_to_function( category,
          "cp_toggle_category('%s',null);" % cat
      )
      -%>
      </span>
    <% end -%>
  </div>

  <%# PORTLET LINKS -%>
  <% @caterpillar_navigation.each_pair do |category,portlets| -%>
    <div id="<%=category.gsub(' ','_')-%>_portlets" class="cp_portlets" style="display: none;">
      <ul>
      <% portlets.each do |portlet| -%>
        <% begin -%>
          <%# check required variables -%>
          <% portlet[:vars].each do |var|
              raise if params[var].nil?
             end -%>

          <li><%= link_to( portlet[:title], portlet[:reqs] ) -%></li>

        <% rescue
             vars = {}
             undef_vars = []
             portlet[:vars].each do |var|
               val = @caterpillar_navigation_defaults[var] || 0
               vars.update( var => val )
               undef_vars << var unless params[var]
             end
        -%>
          <li>
            <b><%= link_to( portlet[:title], portlet[:reqs].merge(vars) ) -%></b>
            <i>needs variables</i> <b><%= vars.keys.inspect -%></b>
          </li>
        <% end -%>
      <% end -%>
      </ul>
    </div>
  <% end -%>
  <div id="cp_version">
    Caterpillar v<%= Caterpillar::VERSION -%>
  </div>
</div>
