<div class="caterpillar_navigation">
  <%# CATEGORIES -%>
  <% categories = @caterpillar_navigation.keys -%>
  <% @caterpillar_navigation.each_pair do |category,portlets| -%>
    <% cat = category.gsub(' ','_') -%>
    <span id="<%=cat-%>" class="cp_category">
      <%= link_to_function( category,
        "cp_toggle_category('%s',null);" % cat
    )
    -%>
    </span>
  <% end -%>

  <%# PORTLET LINKS -%>
  <% @caterpillar_navigation.each_pair do |category,portlets| -%>
    <div id="<%=category.gsub(' ','_')-%>_portlets" class="cp_portlets" style="display: none;">
      <ul>
      <% portlets.each do |portlet| -%>
        <% begin -%>
          <%# check required variables -%>
          <% portlet[:vars].each do |var|
              raise if params[var].nil?
             end -%>

          <li><%= link_to( portlet[:title], portlet[:reqs] ) -%></li>

        <% rescue
             vars = {}
             undef_vars = []
             portlet[:vars].each do |var|
               val = @caterpillar_navigation_defaults[var] || 0
               vars.update( var => val )
               undef_vars << var unless params[var]
             end
        -%>
          <li>
            <b><%= link_to( portlet[:title], portlet[:reqs]+vars ) -%></b>
            <i>needs variables</i> <b><%= vars.keys.inspect -%></b>
          </li>
        <% end -%>
      <% end -%>
      </ul>
    </div>
  <% end -%>
</div>
