<div id="http_post">
  <h1>POST test</h1>

  <div class="http_postform">
  <h2>Regular POST</h2>
    <%= form_tag :action => "post" %>
      <p>
        <span>Input text:</span>
        <%= text_field_tag "msg", "The Java language was created by James Gosling in June 1991", :size => 42 %>
      </p>

      <p>
        <span>Input checkbox:</span>
        <input type="checkbox" name="checkbox" value="yay" true />
      </p>

      <p class="submit_tags">
        <input type="submit" value="Submit" />
      </p>
    </form>
  </div>


  <h2>POST with accept-charset</h2>
  <div class="http_postform">
    <% form_tag({ :action => "post" }, {:'accept-charset' => "UTF-8"} ) do %>
      <p>
        <%= text_field_tag "msg", "å ä ö", :size => 12 %>
      </p>
      <p class="submit_tags">
        <%= submit_tag 'Submit as utf8' %>
      </p>
    <% end %>
  </div>


  <h2>Exit portlet w/ POST:</h2>
  <p>
	Sometimes it is useful to send an action outside the portlet.
	Test this with this button:
  </p>
  <div class="http_postform">
    <form action="http://www.google.com/search?exit_portlet=true">
      <input name="q" value="HTTP POST form" type="hidden" />
      <p class="submit_tags">
        <input type="submit" value="Google search" />
      </p>
    </form>
  </div>


  <hr />


  <h2>Message from last POST:</h2>
  <span id="post_msg">
    <%= @msg -%>
  </span>
  <br />
  <span id="post_info">
    <% if @checkbox -%>
      Checkbox was checked
    <% else -%>
      <% if @checkbox == false %>
<!--
        Checkbox was unchecked
-->
      <% end %>
    <% end -%>
  </span>

</div>
